<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Beer API</title>
    
  </head>

  <body>
    <!-- <header
      class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-body border-bottom shadow-sm"
    >
      <p class="h5 my-0 me-md-auto fw-normal logo"><a href="#">Beer API</a></p>
      <nav class="my-2 my-md-0 me-md-3" id="siteNavbar">
        <a *ngFor="let link of navLinks" class="nav_links" href="#">{{ link.title }}</a>
      </nav>
    </header> -->

    <mat-toolbar>
      <span><a routerLink="/" [style.color]="'#683AB6'" class="logo" >Beer API</a></span>
      <span class="example-spacer"></span>
      <a mat-icon-button color="primary" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
      </a>
      <a mat-icon-button color="primary" routerLink="search" routerLinkActive="active" aria-label="Example icon button with a search icon">
        <mat-icon>search</mat-icon>
      </a>
    </mat-toolbar>

    <router-outlet></router-outlet>

  <mat-toolbar class="footer">
    <span class="d-block mx-auto" [style.color]="'#683AB6'">&#169; Beer API </span>
  </mat-toolbar>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
